$white: #ffffff;
$dark-white: #f8f8f8;
$light-white: #f5f8fd;
$black: #000;
$dark-gray: #333333;
$gray: #666666;
$orange: #f27920;
$blue: #005da3;
$darkGray: #34495E;


$heading-font: 'IBM Plex Serif',
serif;
$primary-font: 'Montserrat',
sans-serif;


$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;

$headings : h1 h2 h3 h4 h5 h6;
// font-family: 'IBM Plex Serif', serif;

// font-family: 'Montserrat', sans-serif;

// font-family: 'Waterfall', cursive;


@each $heading in $headings {
    #{$heading} {
        font-family: $heading-font;
        font-weight: 800;
        color: $black;
    }
}


img {
    max-width: 100%;
    height: auto;
}

body {

    -webkit-font-smoothing: antialiased;
    // overflow: hidden;
    font-family: $primary-font;
    font-size: 16px;
    overflow-x: hidden;


    @include breakpoint (sm1) {
        // padding-top: 76px;
    }

    &.body-overflow-hidden {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}