.footer {
    &__top {
        padding: 40px 0;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 20px;
        h4 {
            font-size: 18px;
            margin-bottom: 10px;
            padding-bottom: 15px;
            color: $blue;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                height: 3px;
                width: 50px;
                background: $orange;
                bottom: 0;
              }
        }
    }
    &__menu {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 5px;
                a {
                    color: $darkGray;
                    font-size: 14px;
                    font-weight: 500;
                    position: relative;
                    padding-left: 20px;
                    text-decoration: none;
                    &:hover {
                        color: $orange;
                    }
                    &:before {
                        content: '';
                        height: 6px;
                        width: 6px;
                        background: $darkGray;
                        position:absolute;
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                }
            }
        }
    }
    &__social {
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;
                a {
                    display: block;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    line-height: 35px;
                    color: $darkGray;
                    border: 1px solid currentColor;
                    @include border-radius (50%);
                }
            }
        }
    }

    &__bottom {
        padding: 10px 0;
        text-align: center;
        background: $blue;
        font-size: 14px;
        color: $white;

        a {
            color: $orange;
            font-weight: 600;

            &:hover {
                text-decoration: none;
                color: $white;
            }
        }
    }
}