.navbar {
    background: $blue;
    padding: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    .container {
        @include breakpoint (sm1) {
            padding: 0 15px;
        }
    }

    &-brand {
        position: relative;
        margin: 0;
        z-index: 1;
        padding-right: 50px;
        height: 70px;
        display: flex;
        align-items: center;

        &:before {
            content: ' ';
            width: 2000px;
            position: absolute;
            top: 0;
            right: 0;
            height: 110%;
            // background: $white url('../images/header-bg.png') no-repeat 0 0;
            background: $white;
            background-size: auto;
            -webkit-background-size: cover;
            background-size: cover;
            z-index: -1;
            transform: skewX(-45deg);
            box-shadow: 0 0 5px rgba($black, 0.2);
        }

    }

    &-nav {
        li {
            &:not(:last-child) {
                @include breakpoint(md) {
                    margin-right: 20px;
                }
            }

            a {
                color: $white;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

// hamberger menu animation
.navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    @include transform(rotate(0deg));
    padding: 0;
    outline: none;
    border: none;
    @include transition(.5s ease-in-out);
    cursor: pointer;
    outline: none !important;

    .navbar-toggle-icon {
        background: $white;
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }
    }

    &.on {
        .navbar-toggle-icon {
            &:nth-child(1) {
                top: 11px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                @include transform(rotate(45deg));
            }

            &:nth-child(3) {
                @include transform(rotate(-45deg));
            }

            &:nth-child(4) {
                top: 11px;
                width: 0%;
                left: 50%;
            }
        }
    }
}