.section-about-company {
    padding: 80px 0 0 0;

    .container {
        max-width: 100%;
        padding: 0;

        .row {
            margin: 0;

            [class*="col-lg-"] {
                padding: 0;

            }
        }

        .image-block {
            padding-left: 30px;

            img {
                width: 100%;
                min-height: 545*$vw;
                object-fit: cover;
            }
        }
    }
}

.company-services {


    .container {
        max-width: 100%;
        padding: 0;
    }

    .row {

        [class*="col-lg-"] {
            &:nth-child(odd) {
                .featured-icon-box {
                    &:after {
                        opacity: 0;
                    }
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                .featured-icon-box {

                    &:before {
                        @include breakpoint (md) {
                            opacity: 0;
                        }
                    }
                }
            }


        }
    }

    .featured-icon-box {
        margin: 15px 25px 15px 0;
        padding: 10px 30px 0 0;
        position: relative;

        &:before {
            display: block;
            height: 1px;
            content: '';
            background: #e0e0e0;
            position: absolute;
            right: 0px;
            width: 100%;
            bottom: -20px;
            z-index: 1;
        }

        &:after {
            display: block;
            height: 100%;
            content: '';
            position: absolute;
            left: -25px;
            width: 1px;
            top: 5%;
            background-color: #e0e0e0;
        }

        .featured-content {

            h3,
            p {
                color: $darkGray;
            }
        }
    }
}

.who-we-image {
    @include breakpoint (sm1) {
        margin-top: 40px;
    }
}