.backgroud-block {
    position: relative;
    min-height: 500*$vw;
    max-height: 500px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 80px 0;
    &:before {
        content: "";
        background-color: $black;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.75;
        z-index: -1;
    }
    .main-title {
        padding-top: 125*$vw;
        h3 {
            color: $white;
            span {
                border-color: $white;
            }
        }
        h2 {
            color: $white;
        }
        p {
            color: $white;
            max-width: 650px;
            margin: 0 auto;
        }
    }
}