.portfolio {
    padding: 80px 0;
    overflow: hidden;
    @include breakpoint(sm1) {
        padding: 40px 0;
    }

    .container {
        max-width: 1150px;
        max-width: 100%;
        padding: 0 5px;
    }

    &__slider {
        margin: 0 -5px !important;
        display: flex;
        flex-wrap: wrap;

        .slick-arrow {
            position: absolute;
            background: #fff;
            border: 1px solid $blue;
            color: $blue;
            height: 30px;
            width: 30px;
            padding: 0;
            line-height: 25px;
            text-align: center;
            border-radius: 50%;
            z-index: 10;
            cursor: pointer;
            top: 50%;
            @include transform(translateY(-50%));

            &.prev-arrow {
                left: -5px;
            }

            &.next-arrow {
                right: -5px;
            }
        }

        // padding: 10px;
        .slick-list {
            padding-left: 0 !important;
            padding-right: 100*$vw !important;
        }

        &__block {
            padding: 5px;
            max-width: 100%;
            flex: 0 0 100%;

            @include breakpoint(md) {
                max-width: 33.3333333%;
                flex: 0 0 33.3333333%;
            }

            @include breakpoint (sm) {
                @include breakpoint (sm1) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }

            &__inner {
                box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.1);
                position: relative;
                overflow: hidden;

                // padding: 10px;
                .image-block {
                    position: relative;
                    padding-top: 66.25%;

                    a {
                        display: block;
                        position: absolute;
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;

                        &:before {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            left: 0;
                            top: 0;
                            background: rgba($color: $black, $alpha: 0.5);
                            z-index: 1;
                        }
                    }

                    img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        object-fit: cover;
                        // object-position: top;
                    }
                }

                .content-block {
                    padding: 15px;
                    background: rgba($color: $white, $alpha: 0.8);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    bottom: -100%;
                    @include transition (all 0.5s);

                    h3 {
                        a {
                            display: block;
                            color: $dark-gray;

                            &:hover {
                                color: rgba($color: $blue, $alpha: 1);
                                text-decoration: none;
                            }
                        }
                    }

                    a {
                        &.read--more {
                            display: inline-block;
                            color: $white;
                            background: $darkGray;
                            padding: 7px 20px;
                            font-weight: 500;
                            display: none;

                            &:hover {
                                background: $blue;
                                text-decoration: none;
                            }
                        }
                    }
                }

                &:hover {
                    .content-block {
                        bottom: 0;
                    }
                }

            }
        }
    }
}