.section-services {
    background: $dark-white;
    padding: 80px 0;
    @include breakpoint(sm1) {
        padding: 40px 0;
    }

    .container {
        @include breakpoint(lg) {
            // max-width: 85%;
        }

        // padding: 0;
    }

    .main-title {
        margin-bottom: 40px;
    }

    .row {
        // margin: 0;

        [class*="col-lg-"] {
            // padding: 0;

            &:nth-child(odd) {
                // background: $blue;
            }

            &:nth-child(even) {
                // background: $orange;
            }
        }
    }

    &__block {
        position: relative;
        background: $white;
        text-align: center;
        margin: 15px 0;
        box-shadow: 0 0 1px rgba($color: $black, $alpha: 0.1);

        .image-block {
            display: none;

            img {
                opacity: 0.15;
                // position: absolute;
                // height: 100%;
                // width: 100%;
                // left: 0;
                // top: 0;
                min-height: 400*$vw;
                object-fit: cover;
            }
        }

        .content-block {
            // z-index: 10;
            // top: 0;
            // left: 0;
            padding: 40px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            // max-width: 400px;
            margin: 0 auto;
            right: 0;

            .icon {
                height: 100px;
                width: 100px;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.2);
                line-height: 100px;
                font-size: 28px;
                color: $dark-gray;
                margin-bottom: 20px;
            }

            h4,
            p,
            a {
                // color: $white;

            }

            h4 {
                font-size: 20px;
                color: $blue;
            }

            h4,
            p {
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
            }

            a {
                display: inline-block;
                // background: $blue;
                color: $blue;
                // padding: 14px;
                line-height: 1;
                min-width: 150px;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    // background: $dark-gray;
                    color: $orange;
                }
            }
        }


    }
}