.section-support {
    background: $darkGray;
    // background: #ECF0F1;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    @include breakpoint (sm1) {
        padding-bottom: 40px;
    }
    .row {
        align-items: center;
    }

    .support-skew {
        position: relative;
        padding: 20px 0;
        padding-right: 50px;
        z-index: 1;
        @include breakpoint(sm1) {
            padding-left: 15px;
            margin-bottom: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: $blue;
            display: block;
            height: 115.5%;
            // border-right: 5px solid $white;
            // -webkit-transform: skew(-30deg);
            // -moz-transform: skew(-30deg);
            // -o-transform: skew(-30deg);
            // -ms-transform: skew(-30deg);
            // transform: skew(-30deg);
            @include transform (skew(-30deg));
            width: 2000px;
            z-index: -1;
        }
    }
    .wt-icon-box-wraper {
        display: flex;
        .icon-md {
            width: 60px;
        }
        .icon-content {
            width: calc(100% - 60px);
            padding-left: 10px;
        }
      }
      .text-block {
        padding: 10px 0;
        color: white;
        font-size: 26px;
        font-family: $heading-font;
      }
      .support-contact {
          a {
              display: block;
              text-align: center;
              background: $white;
              color: $darkGray;
              padding: 12px;
              font-weight: 600;
              text-decoration: none;
              box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.1);
              max-width: 200px;
              margin: 0 auto;
              text-transform: capitalize;
              &:hover {
                  color: $blue;
              }
          }
      }
}