.why-choose-us {
    padding: 80px 0;
    background: $dark-white;
    @include breakpoint(sm1) {
        padding: 40px 0;
    }

    .row {
        margin: 0 -7px;

        [class*="col-lg-"] {
            padding: 0 7px;
        }
    }

    .main-title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    &__block {
        position: relative;
        background: $white;
        margin: 20px 0 0 0;
        box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);
        padding: 30px;

        .top-block {
            display: flex;
            margin-bottom: 15px;
            align-items: center;

            .icon {
                color: rgba($color: $orange, $alpha: 1);
                font-size: 24px;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border: 1px solid currentColor;
                border-radius: 50%;
            }

            .title {
                width: calc(100% - 50px);
                padding-left: 10px;
                padding-bottom: 10px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 50px;
                    background: $blue;
                    bottom: 0;
                }
                h4 {
                    font-size: 16px;
                    margin: 0;
                        
                }
            }
        }

        .content-block {
            font-size: 14px;
        }
    }
}