h2 {
    font-size: 36px;

    @include breakpoint(sm1) {
        font-size: 24px;
    }
}

h3 {
    font-size: 20px;
}

.main-title {
    h2 {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 18px;

        @include breakpoint(sm1) {
            font-size: 16px;
        }

        color: $blue;

        span {
            display: inline-block;
            border-bottom: 2px solid $blue;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
    }
}